.profile {
  margin: .5rem;
  width: 24rem;
  height: 17rem;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-name {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.profile-name:hover {
  opacity: .8;
  cursor: pointer;
}

.profile-emoji-list {
  background-color: #2F242C;
  width: 19rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4rem;
  margin: 1rem 0 0 0;
}

.profile-emoji {
  text-align: center;
  color: white;
  margin: .4rem;
  font-size: 2rem;
}

.emoji {
  opacity: .5;
}

.emoji:hover {
  opacity: 1;
  cursor: pointer;
}

.react-btn, .back-btn {
  position: absolute;
  top: .5rem;
  color: pink;
  font-size: 1.3rem;
  font-weight: bold;
}

.react-btn {
  right: 1.5rem;
}

.react-btn:hover {
  opacity: .8;
  cursor: pointer;
}

.back-btn {
  left: 1.5rem;
}

.back-btn:hover {
  opacity: .8;
  cursor: pointer;
}